#SECRET_KEY=
DEBUG=True

#DB_NAME=
#DB_USER=
#DB_PASSWORD=

# Usado para rodar testes e comandos de gerenciamento fora do Docker
DB_HOST=localhost
DB_PORT=5432
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB_INDEX=0

# Porta para acessar a aplicação (padrão: 8000)
#PUBLIC_PORT=8000
