#SECRET_KEY=
DEBUG=True

#DB_NAME=
#DB_USER=
#DB_PASSWORD=

# Descomente-as se necessário (veja o README); podem ficar vazias
#DB_HOST=
#DB_PORT=
#REDIS_URL=

# Porta para acessar a aplicação (padrão: 8000)
#PUBLIC_PORT=8000
